Source: r-other-capm
Section: math
Priority: optional
Maintainer: Oswaldo Santos <oswaldosant@gmail.com>
Build-Depends-Indep: debhelper (>> 4.1.0), r-base-dev (>= 3.0.0), cdbs
Standards-Version: 3.9.3.1
Homepage: https://github.com/oswaldosantos/capm_rpackage

Package: r-other-capm
Architecture: all
Section: math
Depends: r-base (>= 3.0.0)
Description: GNU R package: Provides functions to calculate the size
 and compostion of samples to estimate dog and cat demographic
 parameters and functions to simulate population dynamics under
 different scenarios of population management.
Homepage: https://github.com/oswaldosantos/capm_rpackage
