/* these CSS definitions are identical to those used for CRAN */
body {
	background: white;
	color: black;
}

a {
	background: white;
	color: blue;
}

h1 {
	background: white;
	color: rgb(55%, 55%, 55%);
	font-family: monospace;
	font-size: x-large;
	text-align: center;
}

h2 {
	background: white;
	color: rgb(40%, 40%, 40%);
	font-family: monospace;
	font-size: large;
}

h3, h4, h5 {
	background: white;
	color: rgb(40%, 40%, 40%);
	font-family: monospace;
}

em.navigation {
	font-weight: bold;
	font-style: normal;
	background: white;
	color: rgb(40%, 40%, 40%);
	font-family: monospace;
}

img.toplogo {
	vertical-align: middle;
}

span.check_ok {
	color: black;
}
span.check_ko {
	color: red;
}

span.BioC {
	color: #2C92A1;
}
span.Ohat {
	color: #8A4513;
}
span.Gcode {
	color: #5B8A00;
}
span.Rforge {
	color: #8009AA;
}

span.acronym {
	font-size: small;
}
span.env {
	font-family: monospace;
}
span.file {
	font-family: monospace;
}
span.option{
	font-family: monospace;
}
span.pkg {
	font-weight: bold;
}
span.samp {
	font-family: monospace;
}

/* these are custom CSS definitions of roxyPackage */

pre.repo {
	padding: 5pt;
	border: 1px dashed #000000;
	background-color: #DFDFFF;
	white-space: pre;
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}
