export(clus2)
export(globalsens)
export(localsens)
export(plotglobal)
export(plotlocal)
export(plotmodel)
export(ppssr)
export(psukml)
export(pyramid)
export(rasa)
export(setranges)
export(siss)
export(sterowned)
export(svyd2)
export(svysumm)
